@value desktop-up from './../../breakpoints.css';

.navbar {
  margin-top: 25px;
  display: flex;
}

.navbarBrand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}

.navbarBrandLink {
  display: block;
  line-height: 1.5;
  position: relative;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

.navbarItem {
  display: block;
  line-height: 1.5;
  position: relative;
  padding: 0.5rem 0.3rem;
  margin: 0;
  letter-spacing: 1.5px;
  font-size: 20px;
  align-self: flex-end;
}
.navbarItem:last-child {
  padding-right: 0;
}

.navbarMenu {
  display: none;
}

@media screen and (desktop-up) {
  .navbar,
  .navbarMenu,
  .navbarEnd {
    align-items: stretch;
    display: flex;
  }
  .navbar {
    min-height: 3.25rem;
  }
  .navbarItem {
    align-items: center;
    display: flex;
  }
  .navbarMenu {
    flex-grow: 1;
    flex-shrink: 0;
  }
  .navbarEnd {
    justify-content: flex-end;
    margin-left: auto;
  }
}
