.item {
  display: block;
  position: relative;
  cursor: pointer;
}

.img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.caption {
  position: absolute;
  color: white;
  background-color: dodgerblue;
  left: 0;
  bottom: 20px;
  padding: 0 10px;
  letter-spacing: 0.6px;
}

@media screen and (min-width: 769px), print {
  .item {
    height: 200px;
    flex-grow: 1;
  }

  .item:last-child {
    flex-grow: 10;
  }
}
