@import-normalize; /* stylelint-disable-line */

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --rp-background-color: #e2e2e2;
  --rp-text-color: #4a4a4a;

  --rp-link-color: #3f3e3e;
  --rp-link-color-hover: #585858;

  --rp-lightbox-bg-color: #363636;
  --rp-lightbox-nav-btn-color: #838383;
  --rp-lightbox-nav-btn-hover-color: #fff;
}

[data-theme='dark'] {
  --rp-background-color: #4a4a4a;
  --rp-text-color: #e2e2e2;

  --rp-link-color: #b8b8b8;
  --rp-link-color-hover: #008bfd;
}

html {
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--rp-background-color);
  color: var(--rp-text-color);
  font-size: 1em;
  font-weight: 200;
  line-height: 1.5;
}

html,
body,
.appContainer {
  height: 100%;
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;
}

a {
  color: var(--rp-link-color);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--rp-link-color-hover);
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}
