@import '../../index.sass'

.c-image-grid__item
    &:hover
        cursor: pointer
    .overlay
        position: absolute
        top: 0
        width: 100%
        height: 100%
        left: 0
        z-index: 2
        display: flex
        justify-content: center
        align-items: center

.c-fade-out
    opacity: 1
    background-color: rgba(205, 207, 210, 0.25)
    transition: background-color 0.4s ease-in-out
    &:hover
        background-color: transparent

.c-image-grid__item2
    &:hover
        cursor: pointer
    .overlay
        position: absolute
        top: 0
        width: 100%
        height: 100%
        left: 0
        background-color: rgba(205,207,210,0.25)
        opacity: 1
        &:hover
            opacity: 0
            transition: .25s opacity
        .text
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            height: 100%
            color: #ffffff
            font-size: 40px
            font-weight: 400
            text-transform: uppercase
            letter-spacing: 9px
            text-shadow: 4px 3px rgba(0,0,0,0.1)

.c-image-modal
    &__content
        width: 100%
        height: 100%
        margin: 15px
        max-height: 100vh
        overflow: auto
        position: relative
        display: flex
        justify-content: center
        align-items: center
    &__img
        max-width: 100%
        max-height: 100%
        user-select: none
    &__nav
        display: flex
        position: absolute
        margin: 0 auto
        position: absolute
        width: 100%
        margin: 0 auto
        height: 100%

.c-image-modal-btn
    display: flex
    align-items: center
    height: 100%
    &__left
        padding-left: 40px
        .icon
            &:hover
                cursor: pointer
                color: $light
    &__right
        padding-right: 40px
        justify-content: flex-end
        .icon
            &:hover
                cursor: pointer
                color: $light
